# Python
__pycache__/
*.py[cod]
*.pyo
*.pyd

# Virtualenv / uv
.venv/
venv/

# uv
.uv/

# Pytest
.pytest_cache/
.coverage
htmlcov/

# Mypy / Pyright
.mypy_cache/
.pyright/

# Ambiente
.env

# Docker
.docker/

# Logs
*.log

# macOS
.DS_Store

# IDEs
.vscode/
.idea/
*.swp
*.swo
